<a href="https://colab.research.google.com/github/MarkBeranque/CPEN65-2/blob/main/Array.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
animal1 = "cat"
animal2 = "dog"
animal3 = "fish"

Accessing the Elements in the Array

In [ ]:
animals =["cat","dog","fish"]
x = animals[-1]
print(x)

fish

Modifying the Elements in the Array

In [ ]:
animals =["cat","dog","fish"]
animals[0] = "monkey"
print(x)

fish

Length of an Array

In [ ]:
animals =["cat","dog","fish","bird"]
x = len(animals)
print(x)

4

Looping Array Element

In [ ]:
animals =["cat","dog","fish"]
for x in animals:
  print(x)

cat
dog
fish

  Adding elements in the Array

In [ ]:
animals =["cat","dog","fish"]
animals.append("monkey")
print(animals)

['cat', 'dog', 'fish', 'monkey']

In [8]:
#Write a python program to insert a new item 11 before the second element in an existing array.
#Original array numbers =[1,2,3,4,5,6,7,8,9,10]
numbers =[1,2,3,4,5,6,7,8,9,10]
numbers.insert(1,11)
print(numbers)

[1, 11, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Removing an Element in the Array

In [16]:
numbers =[1,2,3,4,5,6,7,8,9,10]
numbers.pop(4)
print(numbers)

[1, 2, 3, 4, 6, 7, 8, 9, 10]

Reversing

In [ ]:
animals =["cat","dog","fish"]
animals.reverse()
print(animals)

['fish', 'dog', 'cat']

Clearing

In [ ]:
animals =["cat","dog","fish"]
animals.clear()
print(animals)

[]

Copying

In [ ]:
animals =["cat","dog","fish"]
animals.copy()
print(animals)

['cat', 'dog', 'fish']

Counting

In [ ]:
animals =["cat","dog","fish"]
animals.count(0)
print(animals)

['cat', 'dog', 'fish']

Inserting

In [ ]:
animals =["cat","dog","fish"]
animals.insert(2,"monkey")
print(animals)

['cat', 'dog', 'monkey', 'fish']